.card {
  .card-body {
    position: relative;

    .card-title {
    }
    .card-text {
    }
  }
  a {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 4px 3px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 13px;
  }
}
